SPORTRADAR_API_KEY=replace_me
SPORTRADAR_ACCESS_LEVEL=trial
SPORTRADAR_VERSION=v8
SPORTRADAR_LANGUAGE=en
SPORTRADAR_PACKAGE=ncaamb
SPORTRADAR_BASE_DOMAIN=api.sportradar.com
SPORTRADAR_MIN_INTERVAL_SECONDS=1.0
SPORTRADAR_MAX_RETRIES=6
SPORTRADAR_BACKOFF_SECONDS=1.5
